name: Build Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      -  'Dockerfile'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
        
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag longtortue/dsci310-ia3-LongTortue-docker:latest
    - name: Push the Docker image
      run: docker push longtortue/dsci310-ia3-LongTortue-docker:latest
